<%= stylesheet_link_tag  "admin", :media => "all" %>

<script type="text/javascript">
	
	$(document).ready(function(){

		// because the nav bar at the top has a height that is set in px
		// the chat_box sizing will be thrown off since it's height is in %.
		// This sets the chat_box height relative to the ratio of "the nav bar height" /  "window height"
		function determineChatBoxSize(){
			var windowHeight = $(window).height();
			var fixedSpace = $('.navbar-inner').height() +48;
			var fixedSpaceRatio = fixedSpace/windowHeight;
			var chatBoxSize = (1 - fixedSpaceRatio)*100
  		var messageBoxSize = 
  		console.log(chatBoxSize)
  		$('#chat_box').css('height', chatBoxSize+'%')
		}


		$(window).resize(function() {
			determineChatBoxSize();
		});

		determineChatBoxSize();


	});

</script>




<style >
	.logo{
		margin-left:15px;
	}
	body{
		overflow:hidden;
	}
	#app_body{
		height:100%;

	}

	#new_ui{
		background-color:red;
		position:relative;
	}

	

	#channel_area{
		position:absolute;
		height:100%;
		left:0px;
		top:0px;
		background-color:#f1f1f1;
		
	}

	#channels_box{
		position:absolute;
		overflow-y:scroll;
		top: 48px;
		height:100%;
		
	}

	#people_area{
		position:absolute;
		height:100%;
		right:0px;
		top:0px;
		background-color:#f1f1f1;
	}

	#chat_area_wrap{
		position:absolute;
		height:100%;
		top:0px;
		left:50%;
		margin:0 auto;
		height:100%;
		width:66%;
	}

	#chat_area{
		position:relative;
		height:100%;
		left:-50%;
		top:48px;
		height:100%;
		
	}

	.send_message{
		width:100%;
		position:absolute;
		bottom: 40px;
		left:0px;
		height:40px;
	}


	#chat_box{
		position:relative;
		
		height:80px;
		background-color:#fff;
		overflow-y:scroll;
		
	}

	.no_margin_left{
		margin-left:0%;
	}


	.navbar{
		z-index:100;
	}

	
.message p.name{
	color:#999;
	font-weight:bold;
}







	/* Large desktop */
@media (min-width: 1200px) { ... }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	#channel_area{
		display:none;
	}
	#chat_area{
		left:0px;
	}

	#people_area{
		display:none;
	}
	#chat_area_wrap{
		position:absolute;
		height:100%;
		top:0px;
		left:0px;
		width:100%;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) { ...
	#channel_area{
		display:none;
	}
}






</style>

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    <a class="brand" href="#"><%=  image_tag 'logo.png' , class: "logo" %></a>
    
    <ul class="nav pull-right">
			<li>		
				
				  <a class="dropdown-toggle"  role="button" data-toggle="dropdown" data-target="#" href="/page.html">
				    <span><%= current_user.full_name_or_username %> </span>
				    <b class="caret"></b>
				  </a>
				  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

		       <li> <%= link_to 'Admin console', admin_root_path if current_user.is_admin? %></li>
		        <li><%= link_to 'Edit Account', users_edit_path, @users_edit %><br /></li>
		        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
		        <hr>
		        <li><%= link_to 'About Kandan', about_path, @about %></li>
				  </ul>

			</li>
    </ul>

  </div>
</div>


<div class="row-fluid" id="the_main_wrap">
	



	<div class="span2 side-panel layout_piece" id="channel_area" >
		<div class="span12 no_margin_left" id="channels_box">
		<% 4.times do %>
			<%= render 'channel' %>
		<% end %>
		</div>
	</div>













	<div  layout_piece" id="chat_area_wrap">
		<div class="span12 offsetby2" id="chat_area">













			<div class="span12" id="chat_box">
				<% 20.times do %>
					<%= render 'message' %>
				<% end %>
			</div>
			<!--ends the chat_box div-->















			<textarea class="send_message span12" ></textarea>
			

			
			  
			  
			  
			  
			
			<!--ends the message box-->


			
		</div>	
	</div>









	<div class="span2 side-panel layout_piece" id="people_area" >
		People Area
	</div>


</div>